#image_0{background-image:url('Result.png'); background-position:0px -0px; width:36px; height:36px; }
#image_1{background-image:url('Result.png'); background-position:36px -0px; width:36px; height:36px; }
#image_2{background-image:url('Result.png'); background-position:72px -0px; width:36px; height:36px; }
#image_3{background-image:url('Result.png'); background-position:108px -0px; width:36px; height:36px; }
